# Django Settings
SECRET_KEY=django-insecure-$+jd*n$yc6(_ce0!bog$7-_@^62k$nhsl@in+%l5p)l%-6)fj5
DEBUG=True

# Database Settings
DB_NAME=coordinadoraverda
DB_USER=corverd_user
DB_PASSWORD=coordi123
DB_HOST=localhost
DB_PORT=3306
