# Django Settings
SECRET_KEY=la_teva_secret_key
DEBUG=True

# Database Settings
DB_NAME=estat_actual
DB_USER=nom_usuari
DB_PASSWORD=contrasenya
DB_HOST=localhost
DB_PORT=3306
SEED_USER_PASSWORD=contrasenya_admin
