<VirtualHost *:80>
    ServerName coordinadoraverda.cat
    ServerAlias www.coordinadoraverda.cat

    # ---------------- STATIC ----------------
    Alias /static /var/www/corverd/staticfiles
    <Directory /var/www/corverd/staticfiles>
        Require all granted
    </Directory>

    # ---------------- MEDIA ----------------
    Alias /media /var/www/corverd/media
    <Directory /var/www/corverd/media>
        Require all granted
    </Directory>

    # ---------------- GUNICORN (DJANGO) ----------------
    ProxyPreserveHost On

    ProxyPass / unix:/var/www/corverd/corverd.sock|http://localhost/
    ProxyPassReverse / unix:/var/www/corverd/corverd.sock|http://localhost/

    # ---------------- LOGS ----------------
    ErrorLog ${APACHE_LOG_DIR}/corverd_error.log
    CustomLog ${APACHE_LOG_DIR}/corverd_access.log combined
</VirtualHost>