<VirtualHost *:80>
    ServerName coordinadoraverda.cat
    ServerAlias www.coordinadoraverda.cat

    Alias /static /var/www/corverd/static
    <Directory /var/www/corverd/static>
        Require all granted
    </Directory>

    Alias /media /var/www/corverd/media
    <Directory /var/www/corverd/media>
        Require all granted
    </Directory>

    ProxyPreserveHost On

    ProxyPass / "unix:/var/www/corverd/corverd.sock|http://localhost/"
    ProxyPassReverse / "unix:/var/www/corverd/corverd.sock|http://localhost/"

    ErrorLog ${APACHE_LOG_DIR}/corverd_error.log
    CustomLog ${APACHE_LOG_DIR}/corverd_access.log combined
</VirtualHost>