# STATIC
Alias /static /var/www/corverd/staticfiles
<Directory /var/www/corverd/staticfiles>
    Require all granted
</Directory>

# WordPress / migrated content
Alias /wp-content /var/www/corverd/staticfiles/wp-content
Alias /wp-includes /var/www/corverd/staticfiles/wp-includes
Alias /wp-json /var/www/corverd/staticfiles/wp-json

<Directory /var/www/corverd/staticfiles/wp-content>
    Require all granted
</Directory>
<Directory /var/www/corverd/staticfiles/wp-includes>
    Require all granted
</Directory>
<Directory /var/www/corverd/staticfiles/wp-json>
    Require all granted
</Directory>

# MEDIA -> apunta on realment estan les imatges (uploads)
Alias /media [uploads](http://_vscodecontentref_/21)
<Directory /var/www/corverd/coordinadoraverda.cat/wp-content/uploads>
    Require all granted
</Directory>

# Excloure del proxy les rutes d'estàtics i media
ProxyPass /static !
ProxyPass /wp-content !
ProxyPass /wp-includes !
ProxyPass /wp-json !
ProxyPass /media !

# DJANGO (gunicorn socket)
ProxyPreserveHost On
ProxyPass / "unix:/var/www/corverd/corverd.sock|http://localhost/"
ProxyPassReverse / "unix:/var/www/corverd/corverd.sock|http://localhost/"

ErrorLog ${APACHE_LOG_DIR}/corverd_error.log
CustomLog ${APACHE_LOG_DIR}/corverd_access.log combined