{% extends 'base_layout.html' %}

{% block title %}Com ens organitzem? - Coordinadora Verda{% endblock %}

{% block page_title %}Com ens organitzem?{% endblock %}

{% block content %}
<div class="wp-block-group alignfull is-style-ext-preset--group--natural-1--section has-background-background-color has-background has-global-padding is-layout-constrained wp-block-group-is-layout-constrained"
	style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">
	<div
		class="wp-block-group alignwide is-vertical is-content-justification-center is-layout-flex wp-container-core-group-is-layout-c9ee0c5a wp-block-group-is-layout-flex">
		<div
			class="wp-block-group has-global-padding is-layout-constrained wp-container-core-group-is-layout-5e05634a wp-block-group-is-layout-constrained">
			<div class="has-text-align-left" style="max-width: 800px; margin: 0 auto; line-height: 1.8; font-size: 1.125rem;">
				<p>La Coordinadora en Defensa del Patrimoni Verd s’organitza de la següent manera:</p>
				<ul>
					<li><strong>Assemblees generals ordinàries mensuals:</strong> Es realitzen un dissabte al mes en un
						espai de lluita. Les assemblees estan formades pels representants de les entitats i col·lectius
						i de ciutadans compromesos en la lluita de la CV a nivell personal, sempre que formin part d’un
						grup de treball i/o comissió de la CV. Després de l’Assemblea s’organitza un dinar i una
						passejada per a conèixer l’espai de lluita.</li>
					<li><strong>Grups de treball i comissions:</strong> Són els encarregats de portar a terme la
						logística, les activitats, els projectes i els objectius. Són autònoms i es reuneixen segons les
						seves pròpies necessitats, ja sigui presencialment o online.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}