{% extends 'base_layout.html' %}

{% block title %}La presentació de la CV - Coordinadora Verda{% endblock %}

{% block page_title %}Presentació de la Coordinadora Verda{% endblock %}

{% block content %}
<div class="wp-block-group alignfull is-style-ext-preset--group--natural-1--section has-background-background-color has-background has-global-padding is-layout-constrained wp-block-group-is-layout-constrained"
	style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">
	<div
		class="wp-block-group alignwide is-vertical is-content-justification-center is-layout-flex wp-container-core-group-is-layout-c9ee0c5a wp-block-group-is-layout-flex">
		<div
			class="wp-block-group has-global-padding is-layout-constrained wp-container-core-group-is-layout-5e05634a wp-block-group-is-layout-constrained">
			<h2>PRESENTACIÓ</h2>
			<p>El 20/03/2026, a las 11 del matí, va tenir lloc a l’Antic Teatre de Barcelona la presentació de la Coordinadora Verda. Les entitats de la CV varen presentar-se i varen explicar l’objectiu que les ha empès a organitzar-se plegades per tirar endavant la lluita en favor del verd, en un entorn urbà i en un entorn rural. </p>
			<p>Fou la manera de presentar-nos en societat i de felicitar-nos per la iniciativa, però també per donar-nos la força i encoratjar-nos per continuar, convençuts que solament la unió ens permetrà avançar i assolir el nostres objectius. </p>
			<p>Us deixem amb la “Nota de premsa” i amb el “Dossier de premsa” que es va presentar.</p>
			<h2>NOTA DE PREMSA</h2>
			<p>Trenta entitats i col·lectius de Barcelona i el seu entorn s’han constituït en la COORDINADORA EN DEFENSA DEL PATRIMONI VERD per sumar esforços en la defensa i la lluita dels espais verds urbans i els béns comuns patrimonials.</p>
			<p>Volem lluitar plegades per promoure iniciatives que protegeixin, ampliïn i millorin els espais verds urbans i les zones rurals de l’entorn, per impulsar projectes de renaturalització, biodiversitat, sostenibilitat urbana i recuperació del patrimoni. Cal, a més, fomentar la participació i gestió dels espais verds i sensibilitzar la població de la importància d’aquests espais per a la societat.</p>
			<p>Davant de les polítiques públiques agressores envers el territori promogudes per les nostres institucions, davant la submissió del poder polític als interessos econòmics i turístics, la Coordinadora vol posicionar-se com un espai de lluita compartida per a la millora del nostre futur a nivell personal i col·lectiu, bo i respectant la natura i la vida.</p>
			<p>Nombrosos estudis avalen el nostre posicionament: les recomanacions de l’OMS referents a la importància del verd urbà per a la salut de les persones, estudis europeus que constaten una pèrdua preocupant de verd, els informes de l’Ajuntament de Barcelona sobre el clima, la natura i la sostenibilitat recomanen ampliar les zones verdes, etc. Però, de fet, cada cop es construeix i pavimenta més.</p>
			<p>Davant d’aquesta situació, fem una crida a totes les entitats, col·lectius i ciutadania a sumar-se a la nostra causa i us convidem a la presentació de la Coordinadora el proper</p>
			<p><strong> Barcelona, Antic Teatre, 20/03/2026. </strong></p>
		</div>
		<div class="pdf-container" style="margin-top: 20px; margin-bottom: 20px;">
			<div class="wp-block-buttons">
				<div class="wp-block-button">
					<a href="https://drive.google.com/file/d/1lEd-MogLbynrs6SdW3sm2QnSOY83gxm9/view" target="_blank" rel="noopener" class="wp-block-button__link">Descarrega el dossier de premsa</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}